@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html,
body,
.container {
  height: 100%;
}

body{
    background-color: #ebeef5!important;
    color:#F4F4F2;
}

.formulario {
  width: 80%;
  background-color: #ffffff!important;
}

.titulo {
  width: 80%;
  background-color: #a4a8ab;
}

.optionMenu {
  text-decoration: none;
}

#nav_computador {
  background-color: #0aa2d8!important;
}

#nav_mobile {
  display: none;
  background-color: #0aa2d8!important;
}

#emendas_mobile {
  display: none!important;
}

@media (max-width: 768px) {
  body{
    background-color: #ffffff!important;
  }

  .formulario {
    width: 100%!important;
  }

  .titulo {
    display: none;
  }

  #nav_computador {
    display: none;
  }

  #nav_mobile {
    display: flex;
    margin-bottom: 0px;
  }

  .scrollMobile{
    max-height: 250px!important;
  }

  #emendas_computador {
    display:none!important;
  }

  #emendas_mobile {
    display: block!important;
  }

  
}